<mat-card id="main-card">
  <mat-card id="content-card">
    <h1 class="icon-title">
      <mat-icon aria-hidden="false" aria-label="Settings icon"
        >settings</mat-icon
      >
      Opciones
    </h1>
    <mat-accordion>
      <!--Panel 1-->
      <mat-expansion-panel
        hideToggle
        [expanded]="true"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon aria-hidden="false" aria-label="Filter list icon">
              filter_list
            </mat-icon>
            Filter
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <h2 class="inside-title">Filter by values</h2>
        <app-query-filter></app-query-filter>
      </mat-expansion-panel>

      <!--Panel 2-->
      <mat-expansion-panel
        hideToggle
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon aria-hidden="false" aria-label="Search list icon">
              search
            </mat-icon>
            Columns
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <h2 class="inside-title">Select columns to display</h2>
        <app-column-updater></app-column-updater>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</mat-card>
