mat-card {
  height: 100%;
  background-color: #f9f9f9;
}

mat-card-title {
  margin-bottom: 30px;
}

mat-expansion-panel-header {
  background-color: var(--primary) !important;
  padding: 0 !important;
}

mat-panel-title {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px;
  display: flex;
  align-items: center;
}
mat-icon {
  margin-right: 5px;
}

#deleteIcon {
  margin-right: 0;
}
.expansion-body {
  overflow-y: scroll;
  height: 500px;
}

#expansion-body-colums-to-display {
  overflow-y: hidden;
  height: 380px;
}

#subtitle-container {
  display: flex;
  align-items: baseline;
}

.expansion-body p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 30px;
  padding-right: 5px;
  padding-bottom: 0;
}

#config-options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}
