#displayer-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

mat-card-title {
    margin-bottom: 0;
}

mat-chip-list {
    margin-left: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 200px;
}

td {
    word-wrap: break-word;
    font-family: 'Ubuntu Mono', monospace;
}

mat-card {
    height: 100%;
    box-shadow: none !important;
    border-width: 0;
    background-color: white;
}

#logPreSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--primary-light);
    color: white;
}

#logPreSelect p {
    font-size: 32px;
}

#logPreSelectContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
