* {
  scroll-behavior: smooth;
}


#main-container{
  display: flex;
  justify-content: space-between;
}

#container-body{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#table{
  height: 500px;
}