<div id="dialog-container">
  <div mat-dialog-content>
    <div id="dialog-title">
      <mat-icon>text_format</mat-icon>
      <h2>Font Size</h2>
    </div>

    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="8">Small</mat-radio-button>
      <mat-radio-button value="16" checked>Normal</mat-radio-button>
      <mat-radio-button value="24">Large</mat-radio-button>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
