
<div class="ag-theme-material" id="" [ngStyle]="{ 'fontSize.px': fontSize }">

  <ag-grid-angular
    #agGrid
    id="ag-table"
    style="width: 75vw; height: 80vh"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowBuffer]="rowBuffer"
    [rowSelection]="rowSelection"
    [rowModelType]="rowModelType"
    [rowHeight]="rowHeight"
    [cacheBlockSize]="cacheBlockSize"
    [cacheOverflowSize]="cacheOverflowSize"
    [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
    [maxBlocksInCache]="maxBlocksInCache"
    [infiniteInitialRowCount]="infiniteInitialRowCount"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged($event)"
  >
  </ag-grid-angular>

</div>
