<mat-card style="margin-bottom: 10px">
    <p><mat-icon> format_paint</mat-icon>Highlighting</p>
    <form [formGroup]="highlighter" (ngSubmit)="stringToHighlightEmit()">
        <div id="highlighter__container">
            <mat-form-field appearance="legacy">
                <mat-label>
                    Type something that you want to highlight
                </mat-label>
                <input
                    matInput
                    id="highlighter-input"
                    formControlName="stringToHighlight"
                    type="text"
                    placeholder="Type something that you want to highlight" />
            </mat-form-field>

            <button
                id="highlighter-submit-button"
                mat-icon-button
                mat-raised-button
                color="primary">
                <mat-icon matSuffix>highlight</mat-icon>
            </button>
        </div>
    </form>
</mat-card>
