<div class="login-page">
    <mat-card>
        <mat-card-title>Login</mat-card-title>

        <mat-form-field appearance="legacy">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username" />
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" />
        </mat-form-field>

        <button mat-raised-button color="primary">Submit</button>
    </mat-card>
</div>
