#timeline {
  height: 90%;
  width: 100%;
}

mat-form-field {
  height: 10%;
  width: 100%;

  ::ng-deep .mat-select-value {
    padding-left: 10px;
  }
  
  ::ng-deep .mat-form-field-infix {
    margin-top: 0;
  }
  
  ::ng-deep .mat-form-field-flex {
    height: 56px;
  }  
}

