<form
  [formGroup]="columnsToDisplay"
  (ngSubmit)="columnsToDisplayEmit()"
  id="columnsToDisplay"
>
  <div *ngFor="let formControl of columns">
    <mat-checkbox
      id="{{ formControl.field }}"
      type="checkbox"
      formControlName="{{ formControl.field }}"
    >
      {{ formControl.headerName }}
    </mat-checkbox>
  </div>

  <!--On submit update the table-->
  <button
    class="submit-button"
    [disabled]="!columnsToDisplay.valid"
    type="submit"
    mat-raised-button
    color="primary"
  >
    Submit
  </button>
</form>
