<form [formGroup]="queryFilter" (ngSubmit)="queryFilterEmit()" id="queryFilter">
  <mat-form-field appearance="standard">
    <mat-label>Timestamp</mat-label>
    <input
      matInput
      id="timestamp"
      type="text"
      formControlName="timestamp"
      placeholder="Timestamp"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Message</mat-label>
    <input
      matInput
      id="message"
      type="text"
      formControlName="message"
      placeholder="Message"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Agent</mat-label>
    <input
      matInput
      id="agent"
      type="text"
      formControlName="agent"
      placeholder="Agent"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>ClientIp</mat-label>
    <input
      matInput
      id="clientip"
      type="text"
      formControlName="clientip"
      placeholder="ClientIp"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Event</mat-label>
    <input
      matInput
      id="event"
      type="text"
      formControlName="event"
      placeholder="Event"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Host</mat-label>
    <input
      matInput
      id="host"
      type="text"
      formControlName="host"
      placeholder="Host"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Request</mat-label>
    <input
      matInput
      id="request"
      type="text"
      formControlName="request"
      placeholder="Request"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Response</mat-label>
    <input
      matInput
      id="response"
      type="text"
      formControlName="response"
      placeholder="Response"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Url</mat-label>
    <input
      matInput
      id="url"
      type="text"
      formControlName="url"
      placeholder="Url"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Extension</mat-label>
    <input
      matInput
      id="extension"
      type="text"
      formControlName="extension"
      placeholder="Extension"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Geo</mat-label>
    <input
      matInput
      id="geo"
      type="text"
      formControlName="geo"
      placeholder="Geo"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Index</mat-label>
    <input
      matInput
      id="index"
      type="text"
      formControlName="index"
      placeholder="Index"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Ip</mat-label>
    <input matInput id="ip" type="text" formControlName="ip" placeholder="Ip" />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Ip range</mat-label>
    <input
      matInput
      id="ip_range"
      type="text"
      formControlName="ip_range"
      placeholder="Ip range"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Machine</mat-label>
    <input
      matInput
      id="machine"
      type="text"
      formControlName="machine"
      placeholder="Machine"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Memory</mat-label>
    <input
      matInput
      id="memory"
      type="text"
      formControlName="memory"
      placeholder="Memory"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>PHP Memory</mat-label>
    <input
      matInput
      id="phpmemory"
      type="text"
      formControlName="phpmemory"
      placeholder="PHP Memory"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Referer</mat-label>
    <input
      matInput
      id="referer"
      type="text"
      formControlName="referer"
      placeholder="Referer"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Tags</mat-label>
    <input
      matInput
      id="tags"
      type="text"
      formControlName="tags"
      placeholder="Tags"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Timestamp range</mat-label>
    <input
      matInput
      id="timestamp_range"
      type="text"
      formControlName="timestamp_range"
      placeholder="Timestamp range"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>UTC Time</mat-label>
    <input
      matInput
      id="utc_time"
      type="text"
      formControlName="utc_time"
      placeholder="UTC TIme"
    />
  </mat-form-field>

  <!--On submit update the table-->
  <button
    class="submit-button"
    [disabled]="!queryFilter.valid"
    type="submit"
    mat-raised-button
    color="primary"
  >
    Submit
  </button>
</form>
